body{
    background-color:  #380606;
    color: #ffffff;
}
.welcome{
    text-align: center;
    font-size: 20px;
    padding: 30px;
}
.well{
    background-color: rgb(238, 204, 10);
    color: #000000;
}
.sign{
    text-align: center;
    background-color: #020222;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 250px;
}
h1{
    font-size: 35px;
}
.back{
    text-align: center;
    font-size: 40px;
}
h3{
    font-size: 30px;
    text-decoration: underline;
}
p{
    font-size: 22px;
}
form{
    font-size: 25px;
}
input{
    border-radius: 5px;
    padding: 15px;
}
button{
    border-radius: 4px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
}
