.full{
    font-size: 18px;
    border: 0px;
    border-radius: 4px;
    padding: 15px;
}
.divfor{
    text-align: center;
    background-color: #041f1f;
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
body{
    background-color: #380606;
    color: #ffffff;
}
.auxano{
    color: #fddc21;
    text-align: center;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 22px;
}
.code{
    border-radius: 15px;
    padding: 20px;
    color: #ffff00;
    background-color: #000000;
    font-size: 18px;
}
.account{
     border-radius: 15px;
    padding: 20px;
    color: #000000;
    background-color: #ffff00;
    font-size: 19px;
}
.valid{
    font-size: 18px;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}
.have{
    font-size: 25px;
}

